{% extends "base.html" %}

{% block content %}

<!--<div class="column is-4 is-offset-4">-->
<!--  <h3 class="title">Sign Up</h3>-->
<!--  <div class="box">-->
<!--      <div class="field">-->
<!--        <div class="control">-->
<!--          <input class="input is-large" type="text" name="name" placeholder="New Username" autofocus="">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <div class="control">-->
<!--          <input class="input is-large" type="email" name="email" placeholder="Your email" autofocus="">-->
<!--        </div>-->
<!--      </div>-->
<!--      <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>-->
<!--  </div>-->
<!--</div>-->

<div class="column is-4 is-offset-4">
  <h3 class="title">User Account</h3>
	 <div class="box">
		 <div class="field">
			 <div class="control">
				<label class="is-large" for="userName">Username</label>
					<input class="input is-large" type="text" id="userName" value="admin" readonly>
			 </div>
		 </div>
	 	 <div class="field">
			<div class="control">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input class="input is-large" type="text" class="form-control" id="fullName" value="Admin Lastname" readonly>
				</div>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<div class="form-group">
					<label for="eMail">Email</label>
					<input class="input is-large" type="email" class="form-control" id="eMail" value="admin@admin.com" readonly>
				</div>
			</div>
		</div>
	  	<div class = "field">
			<div class="control">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input class="input is-large" type="text" class="form-control" id="phone" value="+(1)111-111-1111" readonly>
				</div>
			</div>
		</div>
	  	<div class = "field">
			<div class="control">
				<div class="form-group">
					<label for="commMethod">Preferred Comm Method</label>
					<input class="input is-large" type="text" class="form-control" id="commMethod" value="text" readonly>
				</div>
			</div>
		</div>
		<div class = "field">
			<div class="control">
				<div class="form-group">
					<label for="genre">Movie Genre</label>
					<input class="input is-large" type="text" class="form-control" id="genre" value="Action" readonly>
				</div>
			</div>
		</div>

<!--		<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>-->
<!--		<button type="button" id="update" name="update" class="btn btn-primary">Update</button>-->

  	</div>
</div>

<span></span>

<div class="column is-4 is-offset-4">
  <h3 class="title">Theaters</h3>
	 <div class="box">
		<h3 class="mb-2 text-primary">
		  {% if theater_list is not none %}
			AMC Theaters near {{zip_code}}:
		  {% else %}
			Enter Zip Code to find theaters!
		  {% endif %}
		</h3>

			<form method="POST" action="/search">
			  <div class="field">
				<div class="control">
				  <input class="input is-large" type="text" name="zip_code" placeholder="Enter your zipcode" autofocus="">
				</div>
			  </div>
			  <button class="button is-block is-info is-large is-fullwidth">Search</button>
			</form>

		<ul>
		  {% if theater_list is not none %}
			{% for theater in theater_list %}
			<div class="box">
			  <li>
				<span>{{ loop.index }}</span>
				<span>{{ theater.name }}</span>
				</li>
			  <li>
				{{ theater.street_address }}
				{{ theater.city }}
				{{ theater.state }}
				{{ theater.zip_code }}
			  </li><br>
			</div>
			{% endfor %}
		  {% else %}
		  <span>We need to check the DB if the user has any saved theater locations</span>
		  {% endif %}
		</ul>
 	</div>
</div>


<div class="column is-4 is-offset-4">
  <h3 class="title">Showtimes</h3>
	 <div class="box">
		<div class="field">
			<div class="control">
				<div class="form-group">
					<label for="dayOfWeek">Day of Week</label>
					<input class="input is-large" type="text" class="form-control" id="dayOfWeek" placeholder="Monday">
				</div>
			</div>
		</div>
	 	<div class="field">
			<div class="control">
				<div class="form-group">
					<label for="timeOfDay">Time of Day</label>
					<input class="input is-large" type="text" class="form-control" id="timeOfDay" placeholder="Evening">
				</div>
			</div>
		</div>
	 </div>
</div>

{% endblock %}
