{% extends "base.html" %}

{% block content %}

<header>
    <div class="column is-6 is-offset-3">
      <h3 class="title">User Account Information</h3>
         <div class="box">
             <div class="field">
                 <div class="control">
                    <label class="is-large" for="userName">Username</label>
                        <input class="input is-large" type="text" id="userName" value="{{current_user.username}}" disabled="disabled" readonly>
                 </div>
             </div>
             <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input class="input is-large" type="text" class="form-control" id="fullName" value="{{current_user.first_name}} {{current_user.last_name}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="eMail">Email</label>
                        <input class="input is-large" type="email" class="form-control" id="eMail" value="{{current_user.email}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            <div class = "field">
                <div class="control">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="input is-large" type="text" class="form-control" id="phone" value="{{current_user.phone_number}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            <div class = "field">
                <div class="control">
                    <div class="form-group">
                        <label for="commMethod">Preferred Communication Method</label>
                        <input class="input is-large" type="text" class="form-control" id="commMethod" value="{{current_user.pcm}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            <div class = "field">
                <div class="control">
                    <div class="form-group">
                        <label for="genre">Movie Genre</label>
                        <input class="input is-large" type="text" class="form-control" id="genre" value="{{current_user.fmg}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>

    <!--		<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>-->
    <!--		<button type="button" id="update" name="update" class="btn btn-primary">Update</button>-->

        </div>
    </div>
    <span></span>
</header>


<div class="column is-6 is-offset-3">
    <h3 class="title">Theater Information</h3>
        <div class="box">
            {% if favorited_theater != "None" and verified_user == "True"%}
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="favoriteTheater">Current Favorite Theater</label>
                        <input class="input is-large" type="text" class="form-control" id="favoriteTheater" value="{{favorited_theater}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            {% endif %}
            <form method="POST" action="/search">
              <div class="field">
                <div class="control">
                    <label for="genre">Search For a Theater</label>
                    <input class="input is-large" type="text" name="zip_code" placeholder="Enter your zipcode" autofocus="">
                </div>
              </div>
              <button class="button is-block is-info is-large is-fullwidth">Search</button>
            </form>
            {% if theater_list is not none %}
            <br>
            <form method="POST" action="/search">
             <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="theaterList">Theaters: </label>
                        <select class="input is-large" name="theaterList" id="theaterList">
                            {% for theater in theater_list %}
                                {% if is_fav_theater == theater.name %}
                                <option value="{{loop.index}}">{{ theater.name }} {{ theater.street_address }} {{ theater.city }} {{ theater.state }} {{ theater.zip_code }}: Favorited</option>
                                {% else %}
                                <option value="{{loop.index}}">{{ theater.name }} {{ theater.street_address }} {{ theater.city }} {{ theater.state }} {{ theater.zip_code }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Save</button>
            </form>
            {% endif %}
      </div>
</div>


<div class="column is-6 is-offset-3" style="padding: 20px">
  <h3 class="title">Preferred Showtime</h3>
	 <div class="box">
        <form method="POST" action="/update_preferences">
            {% if current_user.preferred_day != "None" and current_user.preferred_time != "None" and verified_user == "True" %}
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="favoriteShowtime">Current Preferred Showtime</label>
                        <input class="input is-large" type="text" class="form-control" id="favoriteShowtime" value="{{current_user.preferred_day}} {{current_user.preferred_time}}" disabled="disabled" readonly>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="field">
                <div class="control">
                    <div class="form-group">
                        <label for="dayOfWeek">Day of Week</label>
                        <select class="input is-large" name="day_of_week" id="dayOfWeek">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
			<div class="control">
				<div class="form-group">
					<label for="timeOfDay">Time of Day</label>
					<select class="input is-large" name="time_of_day" id="timeOfDay">
						<option value="Mornings (8 - Noon)">Morning (8 AM - Noon)</option>
						<option value="Afternoons (Noon - 5)">Afternoon (Noon - 5 PM)</option>
						<option value="Evenings (5 - Midnight)">Evening (5 PM - Midnight)</option>
					</select>
				</div>
			</div>
		</div>
		 <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
	 </div>
</div>

{% endblock %}
