{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>
  <div class="box" style="background-color: #303A44; color: white;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification is-danger">
        {{messages[0]}}. Go to <a href="{{url_for('auth.login')}}">login page</a>
      </div>
      {% endif %}
      {% endwith %}
    <form method="POST" action="/signup"></form>
    <form method="POST" action="/signup">
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="name" placeholder="New Username" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="email" name="email" placeholder="Your email" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Password" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="firstName" placeholder="First Name" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="lastName" placeholder="Last Name" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="phoneNumber" placeholder="Phone Number (+0001112222)" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
<!--          <input class="input is-large" type="text" name="commMethod" placeholder="Pref Comm Method (N or E)" autofocus="">-->
          <select class="input is-large" name="commMethod" id="commMethod">
              <option value="none" selected disabled hidden>Communication Preference</option>
              <option value="Text">Text</option>
              <option value="Email">Email</option>
          </select>
        </div>
      </div>
      <div class="field">
        <div class="control">
<!--          <input class="input is-large" type="text" name="genre" placeholder="Favorite Movie Genre" autofocus="">-->
          <select class="input is-large" name="genre" id="genre">
              <option value="none" selected disabled hidden>Favorite Movie Genre</option>
              <option value="Action">Action</option>
              <option value="Comedy">Comedy</option>
              <option value="Drama">Drama</option>
              <option value="Fantasy">Fantasy</option>
              <option value="Horror">Horror</option>
              <option value="Mystery">Mystery</option>
              <option value="Romance">Romance</option>
              <option value="Western">Western</option>
          </select>
        </div>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}